body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", "Courier", "monospace";
  background-color: rgb(51, 51, 119);
}

.search {
  width: 100%;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-sc1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-sc1 > input {
  height: 55px;
  width: 60%;
  border-radius: 15px;
  text-align: center;
  font-size: large;
  border: none;
}

.search-sc2 {
  margin: 35px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-sc1 {
  margin-top: 6%;
  width: 100%;
}

.home-sc2 {
  padding: 3%;
}

.home-sc3 {
  margin-bottom: 2%;
}

.fav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.fav-sc1 {
  margin-top: 7%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.fav-sc1 > input {
  height: 35px;
  width: 400px;
  margin: 5px;
  border-radius: 15px;
  text-align: center;
  font-size: larger;
}

.fav-sc2 {
  padding: 3%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.card {
  width: 150px;
  margin: 8px;
  position: relative;
  font-size: x-small;
}

.card :hover {
  cursor: pointer;
}

.card-sc1 {
  object-fit: cover;
  width: 100%;
  height: 230px;
  border-radius: 15px;
}

.card-sc2 {
  display: flex;
  flex-direction: column;
  color: rgb(214, 197, 197);
}

.card-sc2 > span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.subtitle {
  color: white;
}

.details {
  padding: 8% 8%;
}

.details-sc1 {
  display: flex;
}

.details-banner {
  width: 1000px;
  margin: 10px;
}

.details-banner {
  object-fit: contain;
  width: 100%;
  height: 500px;
  border-radius: 15px;
}

.details-content {
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

.details-subtitle {
  color: white;
}

.details-content > span {
  color: gray;
  padding: 5px;
}

.details-sc2 {
  margin: 1%;
}

.details-sc2 > button {
  margin: 5px;
  padding: 5px;
  font-size: large;
  font-weight: bold;
  border-radius: 15px;
}

.details-sc2 > button:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .search {
    margin-top: 20%;
  }
  .search > input {
    width: 90%;
    height: 40px;
    margin-bottom: 4%;
  }
  .cards {
    justify-content: center;
  }
  .details {
    padding: 15%;
  }
  .details-sc1 {
    flex-direction: column;
  }
  .details-banner {
    width: 300px;
  }
  .fav-sc1 {
    margin-top: 25%;
    flex-direction: column;
    align-items: center;
  }
  .fav-sc1 > input {
    width: 300px;
  }
}
